<%= debug @furnitureitems.third.adj_price %>
<%= debug @furnitureitems.third.condition %>


<div class="container">
  <div class="row">
    <% if @furnitureitems.blank? %>
      <strong>WE SOLD IT ALL</strong>
    <% else %>
      <% @furnitureitems.each do |furnitureitem| %>
      <% if furnitureitem.quantity.to_i != 0 %>
          <div class="col-md-3">
            <div class="product-box">
              <%= image_tag furnitureitem.img_name %>
              <span><%= furnitureitem.item %></span>
              <br>
              <span><%= number_to_currency furnitureitem.adj_price %><%= furnitureitem.clearance? %></span>
              <!-- <span>$<% if furnitureitem.condition.to_s == "good" %>
                      <%=  furnitureitem.price.to_i*9/10 %> New Clearance Price!!!
                    <%  elsif furnitureitem.condition.to_s == "average" %>
                      <%=  furnitureitem.price.to_i*8/10 %> New Clearance Price!!!
                    <% else %>
                      <%= furnitureitem.price %>

              <% end %></span> -->
              <br>
              <%= link_to "More Info", "/products/#{furnitureitem.pid}" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
