<%= debug @products %>

<div class="container">
  <% if @furnitureitems.blank? %>
    <strong>WE SOLD IT ALL</strong>
  <% else %>
    <% @furnitureitems.each do |furnitureitem| %>
      <div class="product-box">
        <%= image_tag furnitureitem.img_name %>
        <span><%= furnitureitem.item %></span>
        <span>$<%= furnitureitem.price %></span>
        <%= link_to "More Info", "/products/#{furnitureitem.pid}" %>
      </div>
    <% end %>
  <% end %>

</div>
